<style type="text/css">@import url('/documents/d/global/custom');</style>

<div class="footer">
<div class="three-columns">

    <div class="col-md-12 col-lg-4">
        <div class="ls-footer-logo-DD"><a href="https://docs.ted.europa.eu/home/index.html"><img alt="TED Developer Docs" class="ls-op" src="{{{uiRootPath}}}/img/ted-logo-footer2.png" height="48"/></a></div>
        <p class="byline-footer">This website is managed by: <a class="ls-underline" href="https://op.europa.eu/en/home"><span style="word-break: keep-all; white-space: nowrap; text-decoration: underline!important">Publications Office of the European Union</span></a></p>

    </div>


    <div class="col-md-12 col-lg-4">

        <h3 class="h3-footer">Need Help?</h3>
        <ul class="ul-footer">
            <li class="li-footer"><a href="https://ted.europa.eu/en/help-page">Help</a></li>
            <li class="li-footer"><a href="https://simap.ted.europa.eu/contact">Contact the TED Helpdesk</a></li>
        </ul>

        <h3 class="h3-footer">Follow us</h3>
        <ul class="ul-footer">
            <li>
                <a href="https://twitter.com/eulawdatapubs"> <img src="{{{uiRootPath}}}/img/twitter.svg" class="icon-footer"/><span>Twitter</span></a>
                <a href="https://www.youtube.com/playlist?list=PLT5rARDev_rkQdFimoHlpv2Och1H0uBLs"><img src="{{{uiRootPath}}}/img/youtube.svg" class="icon-footer-2nd"/><span>YouTube</span></a>
            </li>
        </ul>

        <h3 class="h3-footer">Legal</h3>
        <ul class="ul-footer">
            <li class="li-footer"><a href="https://op.europa.eu/en/web/about-us/legal-notices/accessibility-statement">Accessibility</a></li>
        </ul>

    </div>

    <div class="col-md-12 col-lg-4">

        <h3 class="h3-footer">About us</h3>
        <ul class="ul-footer">
            <li class="li-footer"><a href="https://op.europa.eu/en/web/about-us/about-publication-office-of-the-european-union">Our mission, vision, and values</a></li>
            <li class="li-footer"><a href="https://op.europa.eu/en/web/general-publications/">Newsletter</a></li>
        </ul>

        <h3 class="h3-footer">Other services</h3>
        <ul class="ul-footer">
            <li class="li-footer"><a href="https://ted.europa.eu/TED/main/HomePage.do">EU tenders</a></li>
            <li class="li-footer"><a href="https://data.europa.eu/en">European data</a></li>
            <li class="li-footer"><a href="https://op.europa.eu/en/web/eu-vocabularies">EU vocabularies</a></li>
            <li class="li-footer"><a href="https://cordis.europa.eu/">EU research results</a></li>
            <li class="li-footer"><a href="https://op.europa.eu/en/web/who-is-who">EU Whoiswho</a></li>
            <li class="li-footer"><a href="/web/librarians-corner">EU publications</a></li>
        </ul>
    </div>
</div>

<div class="three-columns">
    <div class="col-md-12 col-lg-4">
        <!--<h2 class="sr-only" id="section-title-op">Publications Office of the European Union</h2> -->

        <div class="ls-footer-logo"><a aria-labelledby="section-title-op" href="/"><img alt="European Union" class="ls-op" /></a></div>
        <p class="byline-footer">Discover more on <a class="ls-underline" href="https://europa.eu/en/home"><span style="word-break: keep-all; white-space: nowrap; text-decoration: underline!important">europa.eu</span></a></p>

    </div>
    <div class="col-md-12 col-lg-4">
        <h3 class="h3-footer">Contact the EU</h3>

        <ul class="ul-footer">
            <li class="li-footer"><a href="tel:0080067891011">Call us 00 800 6 7 8 9 10 11</a></li>
            <li class="li-footer"><a href="https://european-union.europa.eu/contact-eu/call-us_en">Use other Telephone options</a></li>
            <li class="li-footer"><a href="https://european-union.europa.eu/contact-eu/write-us_en">Write to us via our contact forms</a></li>
            <li class="li-footer"><a href="https://european-union.europa.eu/contact-eu/meet-us_en">Meet us at one of the EU centres</a></li>

        </ul>

        <h3 class="h3-footer">Social Media</h3>
        <ul class="ul-footer">
            <li class="li-footer"><a href="https://european-union.europa.eu/contact-eu/social-media-channels_en#/search"><i aria-hidden="true" class="gs-icon-twitter"></i>Search of EU social media channels</a></li>

        </ul>

        <h3 class="h3-footer">Legal</h3>

        <ul class="ul-footer">
            <li class="li-footer"><a aria-labelledby="section-title-op" href="https://european-union.europa.eu/languages-our-websites_en">Languages on our website</a></li>
            <li class="li-footer"><a aria-labelledby="section-title-op" href="https://european-union.europa.eu/privacy-policy-european-union-website_en">Privacy Policy</a></li>
            <li class="li-footer"><a aria-labelledby="section-title-op" href="https://european-union.europa.eu/legal-notice_en">Legal notice</a></li>
            <li class="li-footer"><a aria-labelledby="section-title-op" href="https://european-union.europa.eu/cookies_en">Cookies</a></li>
        </ul>
    </div>
    <div class="col-md-12 col-lg-4">
        <h3 class="h3-footer">EU institutions</h3>

        <ul class="ul-footer">
            <li class="li-footer"><a href="https://www.europarl.europa.eu/portal/en">European Parliament</a></li>
            <li class="li-footer"><a href="https://www.consilium.europa.eu/en/european-council/">European Council</a></li>
            <li class="li-footer"><a href="https://www.consilium.europa.eu/en/">Council of the European Union</a></li>
            <li class="li-footer"><a href="https://commission.europa.eu/index_en">European Commission</a></li>
            <li class="li-footer"><a href="https://curia.europa.eu/jcms/jcms/j_6/en/">Court of Justice of the European Union (CJEU)</a></li>
            <li class="li-footer"><a href="https://www.ecb.europa.eu/home/html/index.en.html">European Central Bank (ECB)</a></li>
            <li class="li-footer"><a href="http://www.eca.europa.eu/en">European Court of Auditors (ECA)</a></li>
            <li class="li-footer"><a href="https://www.eeas.europa.eu/_en">European External Action Services (EEAS)</a></li>
            <li class="li-footer"><a href="https://www.eesc.europa.eu/en">European Economic and Social Committee (EESC)</a></li>
            <li class="li-footer"><a href="https://cor.europa.eu/en/">European Committee of the Regions (CoR)</a></li>
            <li class="li-footer"><a href="https://www.eib.org/en/index.htm">European Investment Bank (EIB)</a></li>
            <li class="li-footer"><a href="https://www.ombudsman.europa.eu/en/home">European Ombudsman</a></li>
            <li class="li-footer"><a href="https://edps.europa.eu/_en?lang=en">European Data Protection Supervisor (EDPS)</a></li>
            <li class="li-footer"><a href="https://edpb.europa.eu/edpb_en">European Data protection Board</a></li>
            <li class="li-footer"><a href="https://eu-careers.europa.eu/en">European Personnel Selection Office</a></li>
            <li class="li-footer"><a href="https://op.europa.eu/en/home">Publications Office of the European Union</a></li>
            <li class="li-footer"><a href="https://european-union.europa.eu/institutions-law-budget/institutions-and-bodies/search-all-eu-institutions-and-bodies_en?f%5B0%5D=oe_organisation_eu_type%3Ahttp%3A//publications.europa.eu/resource/authority/corporate-body-classification/AGENCY_DEC&f%5B1%5D=oe_organisation_eu_type%3Ahttp%3A//publications.europa.eu/resource/authority/corporate-body-classification/AGENCY_EXEC&f%5B2%5D=oe_organisation_eu_type%3Ahttp%3A//publications.europa.eu/resource/authority/corporate-body-classification/EU_JU">Agencies</a></li>
        </ul>
    </div>

    <script>
      ECL.autoInit();
    </script>
</div>
</div>