/*global screen max-width, centred*/

.article {
    max-width: 1480px;
    position: sticky;
    margin: 0 auto !important;
    float: none !important;
    }

.body, .globan, .dd-header-container, .footer, .toolbar, .sep-frame{
    max-width: 1480px;
    /*position: sticky;
    float: none !important;
    margin: 0 auto !important;*/
    width: 100%
    }

.body {
    padding-top: none;
}    

/*New TED dev docs header css Feb 2024 */
.dd-header-container {
    height: Hug 213px;
    gap: 16px;
    background: #FFFFFF;
    }

/* Top line of header: EU logo and search*/
.eu-part {
    width: Fill 1575px;
    height: Hug 45px;
    padding: 0px, 24px, 0px, 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

/*display EU flag at top inline-block so the search box can also be*/
.eu-emblem {
    width: 161px;
    height: 45px;
    padding: 16px, 0px, 16px, 0px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    }

/*Flag image*/
.eu-emblem-std-en   {
    height: 45px;
 }

/*flag image swap on screen width*/
 @media (min-width:769px) {
        .eu-emblem-std-en {
        content: url("https://ted.europa.eu/o/ted2-theme/images/eu/standard/logo-eu--en.svg")
        }
 }

 @media (max-width:768px) {
        .eu-emblem-std-en {
        content: url("https://ted.europa.eu/o/ted2-theme/images/eu/condensed/logo-eu--en.svg")
        }
 }

/*Algolia Search*/

/*Results dropdown: white background and in-front*/
.algolia-autocomplete .ds-dropdown-menu {
    background: #ffffff;
    z-index: -1;
    position:sticky;
    }

/*removes the left-hand border for the search docs*/
.search {
     border-left: none;
}

/*sets size of search box (not working!)*/
 .docs-search {
        height: 50px;
        width: 300px;
        margin: 1px;
 }

/*Search box responsive to screen width*/
 @media screen and (max-width:499px) {
        .docs-search {
        position: relative;
        /*margin-bottom: 15px;*/
        margin-left: 7px
        }
 }

/*mid-range if needed (if global screen max-width removed for all horizontal elements):
@media only screen and (min-width: 500px) and (max-width: 1480px) {
	.docs-search {
         display: flex;
         position: relative;
         -webkit-box-flex: 0;
         -ms-flex: none;
         -webkit-box-align: center;
         flex: none;
         align-items: center;
         margin-top: 20px;
         margin-right:15px;
    }
}
*/

 @media screen and (min-width:500px) {
         .docs-search {
         display: flex;
         position: relative;
         -webkit-box-flex: 0;
         -ms-flex: none;
         -webkit-box-align: center;
         flex: none;
         align-items: center;
         margin-top: 20px;
         margin-right:15px;
         }
 }

 /* max @media to use if mid-range needed:
 @media screen and (min-width:1481px) {
        .docs-search {
        position: absolute;
        margin-top: 20px;
        margin-right:15px;
        left:1080px;
        }
 }
 */

/*Horizontal bar container, grey and green header section separator rectangles*/
.sep-frame {
    /*width: Fill 1480px;*/
    height: Hug 2px;
    padding: 0px, 24px, 0px, 24px;
}

/*Horizontal grey bar*/
.rect-grey {
    width: 1455px;
    height: 2px;
    margin-left:25px;
    background: #CFDAF5;
}

/*Second line of header containing "EU Tenders text*/
.ted-dd-bar {
    width: Fill 1575px;
    height: Hug 68px;
    padding: 0px, 24px, 0px, 24px;
    gap: 16px;
}

.ted-dd-text-bar {
    width: Fill 750px;
    height: Hug 68px;
    gap: 6px;
}

.ted-dd-text-field {
   width: Fill 750px;
   height: Hug 33px;
   gap: 4px;
}
.text-label-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #515560;

}
.text-eu-tenders {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #515560;
    margin-left:25px;
    margin-bottom: 6px;
    margin-top: 15px;
    display: block;
}

/* formatting of "TED developer Docs" container*/
.text-eu-subtext-box    {
    /*Property 1="Default";*/
    width: Fill 750px;
    height: Hug 29px;
    gap: 12px;
}

.text-eu-subtext-text, .text-eu-subtext-label {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Arial;
    letter-spacing: 0em;
    text-align: left;


}
/* formatting of "TED developer Docs" text*/
.text-eu-subtext-text   {
    /*Property 1="default";*/
    width: Hug 163px;
    height: Hug 29px;

    gap: 10px;
    margin-left:25px;
    /*linear-gradient:(0deg, #F5F5F5, #F5F5F5);*/
    border-left: 4px solid #339900;

    background: #F5F5F5;
    /*border-left: 6px solid #390;*/
    padding: 4px 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    display: inline-block;
}

.header-logo-DD {
    border-left: none;
    display: inline-block;
    margin-left:20px;
}

/* formatting of "Documentation for TED developers and eSenders" text*/
.text-eu-subtext-label {
    height: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    display:inline-block;
}
@media screen and (max-width: 960px) { /* adjust 960px to the point where the layout changes */
    .text-eu-subtext-label {
        margin-left: 25px;
    }
}
/* "Documentation for TED developers and eSenders" hidden on small width screens*/
@media (max-width:768px) {
    .text-eu-subtext-label {
        display: none;
     }
}

/*green line below header*/
.rect-green {
    width: 1480px;
    height: 6px;
    background: #339900;
    }
/*End of Header*/

/*Body*/

/* makes toolbar not move down with scroll*/
.toolbar {
    position: sticky;
    top: 0px;
}

/* makes left-hand nav container (menu) not move down with scroll*/
.nav {
    position: sticky;
    top: 0px;
}

/* makes right-hand page contents container not move down with scroll*/
.aside.toc.sidebar {
    position: sticky;
    top: 0px;
}

/* old navbar, some is needed*/
.navbar .logo {
    height: 3.5rem !important;
}

.navbar .navbar-title {
    display: none;
}

.tile-container>.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile {
    width: 48%;
    margin: 1%;
    background-color: transparent !important;
    border: 1px solid #ccc;
    border-radius: 12px !important;
    padding: 1rem !important;
    box-shadow: 2px 2px 2px #e1e1e1;
}

.tile .content .title {
    font-size: 1.3em !important;
    text-align: left !important;
    font-style: normal;
    color: #2c862d;
    background-color: #fafafa;
    margin: -1rem -1rem 0rem -1rem !important;
    padding: 0.6rem 1rem 0.4rem 1rem;
    flex: auto;
    border-bottom: 1px solid #ccc;
    border-radius: 12px 12px 0 0 !important;
}

.tile .content {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tile .content .title + .paragraph {
    flex-grow: 100;
}

div.qanda > ol > li > p:first-child {
    margin-bottom: 0.8rem;
    color: #666;
    letter-spacing: 0.005rem;
}

div.qanda > ol > li {
    margin-top:1rem;
    margin-bottom:2rem;
}

.nav-item .separated {
    display:block;
    margin-top: 1.66rem;
    margin-left: -13.5px;
    border-bottom: 1px solid lightgray;
}

.nav-item .nav-link code {
    border: 1px solid #c1c1c1;
    border-radius: .25rem;
    color: inherit;
    opacity: .75;
    white-space: nowrap;
    padding: .125em .25em;
    display: inherit;
    float: right;
    font-size: 0.7rem;
    font-weight: 500;
}

.nav-panel-explore .context .dim {
    color: #999;
    font-size: 0.8rem;
}

.doc table.fixed-layout {
    table-layout: fixed;
}
end of old navbar


/* New Dev Docs footer css Feb 2024 */

/* footer links EU blue*/
/* container */

    .three-columns {
        display:flex;
        flex-wrap: wrap;
        background-color:#F3F6FC;
        border-bottom: 1px solid #CFDAF5;
        }

    /* columns */
    .three-columns > * {
        padding:1rem;

    }

     /*tablet breakpoint*/
    @media screen and (min-width:769px) {
        .three-columns {
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    /* responsive EU logo change*/
    @media (min-width:769px) {
        .ls-footer-logo {
        content: url("https://ted.europa.eu/o/ted2-theme/images/eu/standard/logo-eu--en.svg")
        }
    }

    @media (max-width:768px) {
            .ls-footer-logo {
            content: url("https://ted.europa.eu/o/ted2-theme/images/eu/condensed/logo-eu--en.svg")
            }
        }

    .h3-footer {
        font-family:Arial, sans-serif !important;
        color: #171A22 !important;
        padding-bottom: 0.75rem;
        /*margin-top: 1.5 rem;*/
        font-size: 1.5rem !important;
        font-weight: 200 !important;
        max-width:unset;
        border-bottom: 1px solid #CFDAF5;
        margin-bottom: 1rem !important;
        margin-top: 1.5rem !important;
        font-size: 1.75rem;
    }

    .ul-footer {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 2rem !important;
        text-decoration: none !important;
        text-underline-offset: 0.15em !important;
        font-size: 0.917rem;
        font-family:Arial, sans-serif !important;
    }

    .li-footer {
        color: #0E47CB;
        margin-bottom: 3rem 0;
        line-height: 2rem !important;
        text-decoration: none !important;
        text-underline-offset: 0.15rem !important;
        font-size: 0.917rem;
        font-weight: 300;
        font-family:Arial, sans-serif !important;
        }

    .ul-footer li-footer {
        margin:30px;
        }

    .byline-footer {
    line-height: 1.35 !important;
    margin-bottom: 0;
    font-size: 0.917rem !important;
    font-weight: 300;
    color: #171A22 !important;
    font-family:Arial, sans-serif !important;
    }

    .icon-footer {
    height: 18px;
    width: 18px;
    color: #0E47CB;
    vertical-align: middle;
    display: inline;
    margin-right: 0.35rem;
    }

    .icon-footer-2nd {
        height: 18px;
        width: 18px;
        color: #0E47CB;
        vertical-align: middle;
        display: inline;
        margin-right: 0.35rem;
        margin-left: 2rem;
        }




/* options mobile */
.ted-search__options-mobile {
	display: flex;
	justify-content: flex-end;
}

.ted-search__options-mobile-dropdown {
	position: relative;
}

.ted-search__options-mobile-dropdown-toggle {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	text-decoration-line: underline;
	color: #3366CC;
}

.ted-search__options-mobile-dropdown-menu {
	background: #FFFFFF;
	box-shadow: 1px 3px 12px rgb(0 0 0 / 40%);
	border-radius: 3px;
	max-width: unset;
	padding: 24px 20px;
	overflow: unset;
}

.ted-search__options-mobile-dropdown-menu::after {
	content: unset;
}

.ted-search__options-mobile-button {
	font-size: 14px;
	line-height: 20px;
	border-radius: 3px;
	display: block;
	padding: 10px 20px;
	border: none;
	margin-bottom: 16px;
	white-space: nowrap;
}

.ted-search__options-mobile-button--color {
	font-weight: bold;
	background: #3D6ECF;
	color: #FFFFFF;
}

.ted-search__options-mobile-button--naked {
	background: #FFFFFF;
	color: #444444;
	border: 1px solid #949494;
	margin: 0;
}

.ted-search__options-mobile-button--naked::after {
    display: inline-block;
    margin-left: 9px;
    vertical-align: middle;
    content: "";
    border-top: 6px solid;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
}

.dropdown-test {
	position: relative;
}

.dropdown-menu-test {
	padding: 15px 0;
	margin-top: 1px;
	background: #FFFFFF;
	box-shadow: 1px 3px 12px rgb(0 0 0 / 40%);
	border: none;
	border-radius: 3px;
	max-width: unset;
}
.ted-search__dropdown-menu-mobile {
	display: none;
	position: absolute;
	top: 41px;
	right: 0;
}

.ted-search__dropdown-menu-mobile.show {
	display: block;
}

@media (max-width: 968px) {
	.ted-search__text {
		flex: 1 0 100%;
	}

	.ted-search__options-desktop > .ted-search__button-options:nth-child(2) {
    margin-left: 0;
	}
}


@media (max-width: 768px) {
	.ted-search__form-control {
		border-left: 1px solid #949494;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		padding-left: 15px;
	}

	.ted-search__button-search {
		padding: 8px 11px;
	}
}


.has-edit-mode-menu .ted-search__wrapper .d-lg-none {
    display: block!important;
}

.lfr-has-simulation-panel .ted-search__wrapper .d-lg-none {
    display: none!important;
}

.ted-search .container {
	background: #FFF;
	padding: 16px 24px;
}

.ted-search__wrapper {
	background: #F5F5F5;
	padding: 20px;
}

@media (max-width: 575px) {
	.ted-search .container {
		background: #F5F5F5;
		padding: 0;
	}

	.ted-search__wrapper {
		padding: 8px 16px 10px;
	}
}

/*footer link colour=blue, leave this at the bottom*/
 .footer a {
        color: #0E47CB;
    }


/* EU fonts updated Feb 2024 - can go into Var.css in antora.eui*/
:root {

    /*** BASE FONTS ****/

    /* Font families - Arial */
    --gs-base-font-family-default: Arial, sans-serif;
    --gs-base-font-family-heading: Arial, sans-serif;

    /* Font weights - Arial */
    --gs-base-font-weight-default: 400;
    --gs-base-font-weight-heading: 700;


    /* Font sizes */
    --gs-base-font-size-2xs: 0.75rem;
    /* 12px Tiny short text (1 narrow line maximum) for extra fine print. Use in extremely exceptional cases when "xs" does not suffice. */
    --gs-base-font-size-xs: 0.813rem;
    /* 13px Very small short text (under 3 lines) for fine print, compacted table data and UI components */
    --gs-base-font-size-s: 0.875rem;
    /* 14px Small body text (1-2 short paragraphs), captions, table data and UI components */
    --gs-base-font-size-m: 1rem;
    /* 16px Default body text (good for extended reading), captions, table data and UI components */
    --gs-base-font-size-l: 1.125rem; /* 18px H5, large body text (good for extended reading) */
    --gs-base-font-size-xl: 1.25rem; /* 20px H4 */
    --gs-base-font-size-2xl: 1.5rem; /* 24px H3 */
    --gs-base-font-size-3xl: 1.75rem; /* 28px H2 */
    --gs-base-font-size-4xl: 2rem; /* 32px H1 */
    --gs-base-font-size-5xl: 2.25rem; /* 36px Other extra large text */
    --gs-base-font-size-6xl: 2.625rem; /* 42px Other extra large text */

    --gs-base-font-size-sp-15: 0.938rem; /* 15px For UI components when you really need something in between "s" and "m". Use sparingly. */

    /* Line heights */

    --gs-base-line-height-xs: 1; /* buttons, navigation, and text not meant to break over a line */
    --gs-base-line-height-s: 1.15; /* headings, introductory (lead or dek) text, no more than 1-2 sentences */
    --gs-base-line-height-m: 1.35; /* short text (under 1 paragraph), captions, text with a very short or very long measure */
    --gs-base-line-height-l: 1.5; /* short (1-2 paragraphs) of running text, especially with a short measure */
    --gs-base-line-height-xl: 1.62; /* for most reading text, especially text meant for extended reading */
    --gs-base-line-height-2xl: 1.75; /* shorter text (1-2 paragraphs) meant to be distinguished from other page text, pullquotes */

    /* Spacing */
    --gs-base-spacing-0: 0;
    --gs-base-spacing-2xs: 0.25rem; /* 0.25rem / 4px  */
    --gs-base-spacing-xs: 0.5rem; /* 0.5rem / 8px  */
    --gs-base-spacing-s: 0.75rem; /* 0.75rem / 12px  */
    --gs-base-spacing-m: 1rem; /* 1rem / 16px  */
    --gs-base-spacing-l: 1.5rem; /* 1.5rem / 24px  */
    --gs-base-spacing-xl: 2rem; /* 2rem / 32px  */
    --gs-base-spacing-2xl: 2.5rem; /* 2.5rem / 40px  */
    --gs-base-spacing-3xl: 3rem; /* 3rem / 48px  */
    --gs-base-spacing-4xl: 4rem; /* 4rem / 64px  *

    /*** colors ****/

    /* main (OP) */
    --gs-base-color-main-100: #132760; /* accessible */
    --gs-base-color-main-75: #697188; /* accessible Link secondary */

    /* sky (eurlex) */
    --gs-base-color-eurlex-130: #005E7E;
    /*--gs-base-color-eurlex-120: #006B8F;BEFORE */
    --gs-base-color-eurlex-120: #00678A;
    /*--gs-base-color-eurlex-110: #007EA8; BEFORE accessible */
    --gs-base-color-eurlex-110: #00749B; /* accessible */
    --gs-base-color-eurlex-100: #0099CC;
    --gs-base-color-eurlex-75: #58BCDF;
    --gs-base-color-eurlex-50: #6ADAFF;
    --gs-base-color-eurlex-25: #B8EDFF;
    --gs-base-color-eurlex-10: #E0F7FF; /* bg */
    --gs-base-color-eurlex-5: #EFF9FB; /* bg */

    --gs-base-color-sky-130: #005E7E;
    --gs-base-color-sky-120: #006B8F;
    --gs-base-color-sky-110: #007EA8; /* accessible */
    --gs-base-color-sky-100: #0099CC;
    --gs-base-color-sky-75: #58BCDF;
    --gs-base-color-sky-50: #6ADAFF;
    --gs-base-color-sky-25: #B8EDFF;
    --gs-base-color-sky-10: #E0F7FF; /* bg */
    --gs-base-color-sky-5: #EFF9FB; /* bg */

    /* fuchsia (data) */
    --gs-base-color-data-130: #6E0A1D;
    --gs-base-color-data-120: #B51131;
    --gs-base-color-data-110: #DE2A5E; /* accessible */
    --gs-base-color-data-100: #F2718A;
    --gs-base-color-data-75: #F7A7B6;
    --gs-base-color-data-50: #F9B9C5;
    --gs-base-color-data-25: #FACBD4;
    --gs-base-color-data-10: #FCDDE3; /* bg */
    --gs-base-color-data-5: #FEEFF2; /* bg */

    /* forest (ted) */
    --gs-base-color-forest-130: #1F5E00;
    --gs-base-color-forest-120: #287928;
    --gs-base-color-forest-110: #2C862D; /* accessible */
    --gs-base-color-forest-100: #339900;
    --gs-base-color-forest-75: #80DE85;
    --gs-base-color-forest-50: #BBFF99;
    --gs-base-color-forest-25: #D5FFC0;
    --gs-base-color-forest-10: #EAF8E2; /* bg */
    --gs-base-color-forest-5: #F3FBEF; /* bg */

    /* earth (publications) */
    --gs-base-color-earth-130: #954B00;
    --gs-base-color-earth-120: #A25E1E;
    --gs-base-color-earth-110: #AC6420; /* accessible */
    --gs-base-color-earth-100: #FF9933;
    --gs-base-color-earth-75: #FFB66E;
    --gs-base-color-earth-50: #FFCA95;
    --gs-base-color-earth-25: #FFDEBC;
    --gs-base-color-earth-10: #FFF1E4; /* bg */
    --gs-base-color-earth-5: #FFF7EE; /* bg */

    /* lavender (research) */
    --gs-base-color-lavender-130: #451244;
    --gs-base-color-lavender-120: #641B62;
    --gs-base-color-lavender-110: #76017A; /* accessible */
    --gs-base-color-lavender-100: #93278F;
    --gs-base-color-lavender-75: #D97CD6;
    --gs-base-color-lavender-50: #E8A9E6;
    --gs-base-color-lavender-25: #F9DBFF;
    --gs-base-color-lavender-10: #F9E7F8; /* bg */
    --gs-base-color-lavender-5: #FDF7FD; /* bg */

    /* Main whoiswho */
    --gs-base-color-fire-130: #671908;
    --gs-base-color-fire-120: #9E270C;
    --gs-base-color-fire-110: #DA3510; /* accessible */
    --gs-base-color-fire-100: #EE441E;
    --gs-base-color-fire-75: #F09187;
    --gs-base-color-fire-50: #F8AE9E;
    --gs-base-color-fire-25: #FFDDD4;
    --gs-base-color-fire-10: #FDEDE9; /* bg */
    --gs-base-color-fire-5: #FEF6F4; /* bg */

    /*** Core ***

    /* Gray */
    --gs-base-color-gray-100: #333333; /* accessible */
    --gs-base-color-gray-75: #666666; /* accessible */
    --gs-base-color-gray-60: #858585; /* Borders */
    --gs-base-color-gray-45: #A3A3A3;
    --gs-base-color-gray-30: #C2C2C2; /* Disabled */
    --gs-base-color-gray-20: #D8D8D8; /* line */
    --gs-base-color-gray-15: #E0E0E0;
    --gs-base-color-gray-10: #EEEEEE; /* bg */
    --gs-base-color-gray-5: #F5F5F5; /* bg */

    /* White */
    --gs-base-color-white: #FFFFFF;

    /* Link */
    --gs-base-color-link-110: var(--gs-base-color-eu-blue-110); /* accessible */
    --gs-base-color-link-100: var(--gs-base-color-eu-blue-100); /* accessible */
    --gs-base-color-link-75: #668CD9;
    --gs-base-color-link-50: #99B2E5;
    --gs-base-color-link-25: #CCD9F2;
    --gs-base-color-link-10: var(--gs-base-color-eu-blue-10); /* bg for link hover */
    --gs-base-color-link-5: var(--gs-base-color-eu-blue-5); /* bg for link */

    /*** OP ***/

    /* opblue */
    --gs-base-color-opblue-110: #002E8A;
    --gs-base-color-opblue-100: #003399;
    --gs-base-color-opblue-75: #4066B2;
    --gs-base-color-opblue-50: #8099CC;
    --gs-base-color-opblue-25: #BFCCE5;
    --gs-base-color-opblue-10: #E8EDF6; /* bg */
    --gs-base-color-opblue-5: #F0F3F9; /* bg */

    /* opyellow */
    --gs-base-color-opyellow-110: #EBBC00;
    --gs-base-color-opyellow-100: #FFCC00;
    --gs-base-color-opyellow-75: #FFD940;
    --gs-base-color-opyellow-50: #FFE580;
    --gs-base-color-opyellow-25: #FFEDA4;
    --gs-base-color-opyellow-10: #FFF5CC; /* bg */
    --gs-base-color-opyellow-5: #FFFAE5; /* bg */

    /* Functional */
    --gs-base-color-error-100: #BB0202;
    --gs-base-color-error-75: #FF0000;
    --gs-base-color-highlight-100: #FFFD38;

    /*** EU harmonised colors ****/

    --gs-base-color-eu-blue-5: #F3F6FC; /* bg light (default) colour: footer, containers */
    --gs-base-color-eu-blue-10: #E7EDFA; /* bg dark colour for containers */
    --gs-base-color-eu-blue-20: #CFDAF5; /* horizontal dividers */
    --gs-base-color-eu-blue-60: #6E91E0; /* header nav vertical divider */
    --gs-base-color-eu-blue-80: #3E6CD5; /* button hover state */
    --gs-base-color-eu-blue-100: #0E47CB; /* link, main nav gradient light */
    --gs-base-color-eu-blue-110: #0D40B7; /* OP link button hover */
    --gs-base-color-eu-blue-140: #082B7A; /* text link hover, main nav gradient dark */

    --gs-base-color-eu-gray-80: #515560; /* site name, inactive breadcrumbs */
    --gs-base-color-eu-gray-100: #262B38; /* form border */
    --gs-base-color-eu-gray-140: #171A22; /* footer "black" text */

    }

    /**** Theme reset ****/

    .site-class-10184.page-class-publication-detail li:not([class]) {
        padding-left: unset;
    }


    /*footer*/
    .footer {
        background-color: var(--gs-base-color-eu-blue-5)!important;
        }

    #footer #extendedft {
        padding-bottom: unset;
        line-height: unset;
        border: none;
        position: relative;
        background-color:var(--gs-base-color-eu-blue-5);
        height: 85%; /* Is this needed? */
    }

    #footer .extendedft li {
        width: unset!important;
    }
    #footer .extendedft a {
        line-height: unset;
    }

    #footer #simpleft {
        display: none;
    }

    /**** Definitions ****/

    .gcss-op .ls-footer-group {
        grid-row-gap:0!important;
        padding-bottom: var(--gs-base-spacing-l);
        border-bottom: 2px solid var(--gs-base-color-eu-blue-20);
    }

    /* Footer links */

    .gcss-op.footer-eu a {
        text-decoration: none!important;
    }

    .gcss-op.footer-eu a.ls-underline {
        text-decoration: underline!important;
    }
    .gcss-op.footer-eu a.ls-underline:hover {
        text-decoration: none!important;
    }


    .gcss-op.footer-eu a:focus,
    .gcss-op.footer-eu ul li a:focus,
    .gcss-op.footer-eu a:focus-visible,
    .gcss-op.footer-eu ul li a:focus-visible {
        text-decoration: none!important;
        outline: 2px solid var(--gs-base-color-link-100)!important;
        outline-offset: 4px;
        border-radius: 0.015rem;
        -moz-outline-radius: 0.015rem;
    }

    .gcss-op.footer-eu a:hover {
        text-decoration: underline!important;
        color: var(--gs-base-color-eu-blue-140)!important;
    }

    .gcss-op.footer-eu p,
    .gcss-op.footer-eu h2,
    .gcss-op.footer-eu h2 a,
    .gcss-op.footer-eu h3,
    .gcss-op.footer-eu h4 {
        color: var(--gs-base-color-eu-gray-140)!important;
    }

    .gcss-op.footer-eu h2 a:hover {
        color: var(--gs-base-color-eu-gray-140)!important;
    }

    .gcss-op.footer-eu h3 {
        max-width:unset;
    }

    /* Site name */

    .gcss-op.footer-eu h2,
    .gcss-op.footer-eu h3 {
        padding-bottom: .75rem;
        margin-top:var(--gs-base-spacing-l)!important;
        font-size: var(--gs-base-font-size-2xl)!important;
        font-weight: var(--gs-base-font-weight-default)!important;
    }

    .gcss-op.footer-eu h3 {
        border-bottom: 1px solid var(--gs-base-color-eu-blue-20);
        margin-bottom:1rem!important;
    }

    .gcss-op.footer-eu h2 {
        margin-bottom:0!important;
    }

    /* Site logo */

    .gcss-op.footer-eu .ls-footer-logo {
        margin-bottom: var(--gs-base-spacing-s);
        margin-top:var(--gs-base-spacing-2xl);
    }
    .gcss-op.footer-eu .ls-footer-logo picture {
        max-height: 44px;
        width: auto;
    }

    .gcss-op.footer-eu .ls-footer-logo img.ls-op {
        max-height: 54px;
        width: auto;
    }

    .gcss-op.footer-eu .ls-site-byline {
        line-height: var(--gs-base-line-height-l)!important;
        margin-bottom: 0;
    }

    .gcss-op.footer-eu ul {
        margin: 0; /* remove from theme? */
        padding: 0; /* remove from theme? */
        list-style-type: none; /* remove from theme? */
        position: relative; /* remove from theme? */
    }

    .gcss-op.footer-eu ul li,
    .gcss-op.footer-eu ul li a {
        margin-bottom: var(--gs-base-spacing-s)!important;
        line-height: var(--gs-base-line-height-m)!important;
    }

    .gcss-op.footer-eu ul.ls-social-media-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: var(--gs-base-spacing-l);
        row-gap: var(--gs-base-spacing-m);
    }

    .gcss-op.footer-eu ul.ls-social-media-list li,
    .gcss-op.footer-eu ul.ls-social-media-list li a {
        margin-bottom: 0!important;
    }

    .gcss-op.footer-eu ul.ls-social-media-list li a i {
        display: inline-block;
        margin-right: 0.5rem;
    }


    @media screen and (min-width: 992px) {

        .gcss-op .ls-footer-group {
            column-gap: var(--gs-base-spacing-2xl)!important;
            padding-bottom: var(--gs-base-spacing-2xl);
        }

        .gcss-op.footer-eu h2,
        .gcss-op.footer-eu h3 {
            margin-top:var(--gs-base-spacing-2xl)!important;
            font-size: var(--gs-base-font-size-3xl)!important;
        }

        .gcss-op.ls-op-services-list {
            column-count: 3;
            /*column-gap:var(--gs-base-spacing-2xl)!important;*/
        }

    }
    .space-between {
        width: 25%;
        display:inline-block;
    }
    #search-input {
        height: 44px;
        padding-left: 16px;
        padding-right: 40px;
        font-family: inherit;
        font-size: 16px;
        text-overflow: ellipsis;
        background-color: #fff;
        border: 1px solid #d8dadf;
        border-color:  #515560;
        margin-bottom:10px;
        margin-left:25px;

    }
    @media screen and (min-width: 769px) {
        #search-input {
          width: 400px !important;
        }
      }